.how-to {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    .how-to-title {
        margin-bottom: 5px;
    }
    .how-to-list-container {
        width: 100%;
        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
        }
        .how-to-list {
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 300px;
            padding-left: 10px;
            list-style: none;
            counter-reset: li;
            @media (min-width: 768px) {
                min-width: 500px;
            }
            @media (min-width: 1200px) {
                min-width: 1000px;
                flex-direction: row;
                height: 150px;
                gap: 40px;
            }
            &-item::before {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 10px;
                height: 10px;
                content: counter(li);
                background-color: #9356DC;
                color: white;
                padding: 8px;
                border-radius: 100%;
                margin-left: -35px;
            }
            &-item {
                $items-number: 3;
                @for $i from 1 through $items-number {
                    &:nth-of-type(#{$i}) {
                    animation-delay: 2000ms * $i;
                    }
                }
                width: 100%;
                padding: 22px 25px;
                margin: 15px 0;
                border-radius: 20px;
                background-color: #F6F6F6;
                box-shadow: 0px 3px 20px -10px grey;
                counter-increment: li;
                cursor: pointer;
                transition: all 500ms;
                animation: btn-color 3000ms 1 linear;
                &:hover {
                    background-color: #F4EDFE;
                    box-shadow: 0px 8px 25px -3px grey;
                    .fa-solid {
                        color: #8B59D5;
                    }
                }
                .fa-solid {
                    margin-left: 15px;
                    font-size: 20px;
                    color: #636262;
                    width: 20px;
                }
                span {
                    margin-left: 20px;
                }
            }
        }
    }
}

@keyframes btn-color {
    0% {
        background-color: #F6F6F6;
    }
    10% {
        background-color: #F4EDFE;
        box-shadow: 0px 8px 25px -3px grey;
    }
    30%{
        background-color: #F6F6F6;
        box-shadow: 0px 3px 20px -10px grey;
    }
    100% {
        background-color: #F6F6F6;
    }
}